/* Comentario en CSS para que se vea en el main */
header {
  background-color: green;
  padding: 2300px;
  margin: 150px; }
  header h1 {
    background-color: black;
    text-transform: uppercase;
    color: green;
    font-size: 18px; }
  header nav {
    background-color: aqua; }
    header nav ul li {
      list-style: none; }
